<form>
    <div class="form-group">
        <input 
        required
        [pattern]="emailRegex"
        ngModel 
        name="email" 
        type="email"
        #email="ngModel" 
        class="form-control" 
        placeholder="Email">
        <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
            Provide a valid email
        </div>
    </div>
    <div class="form-group">
        <input 
        required
        minlength="6"
        ngModel 
        name="password" 
        type="password"
        #password="ngModel" 
        class="form-control" 
        placeholder="Password">
        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                Invalid Password
            </div>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>