
<head>
	<!-- Bootstrap Core CSS -->
	<link href="assets/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="assets/css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="assets/css/morris.css" type="text/css"/>
	<!-- Graph CSS -->
	<link href="assets/css/font-awesome.css" rel="stylesheet"> 
	
	
	<!-- lined-icons -->
	<link rel="stylesheet" href="assets/css/icon-font.min.css" type='text/css' />
	<!-- //lined-icons -->
	<link rel="shortcut icon" href="assets/img/favicon.png">
	
	<link rel="stylesheet" href="assets/css/jquery-ui.css" type="text/css">
	</head> 
<body>
   <div class="page-container">
   <!--/content-inner-->
<div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
			<div class="header-main">
					<div class="" style="float:left;">
								<h2><a href="user/home" >Leave Management System</a></h2>
					</div>
					<div class="profile_details w3l" style="float:right;">	
						<h4><a routerLink="/hrm/edituser"><i class="fa fa-user"></i> Profile   </a> </h4>
						<h4><a (click)="logout()"><i class="fa fa-sign-out"></i> Logout   </a> </h4>
			 </div>
							
				     <div class="clearfix"> </div>	
				</div>
<!--heder end here-->
	<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="user/home">Home</a> <i class="fa fa-angle-right"></i> Manage Leaves</li>
    </ol>
	<div class="agile-grids">	
				<!-- tables -->
			<div class="alert alert-info" if="${(param.successMessage != null)}">
					<span text="${param.successMessage[0]}"></span>
            </div>		
			<div class="agile-tables">

				  <h3>Manage Leaves</h3>
				  <table id="table-two-axis" class="two-axis">
					<thead>
					  <tr>
                		<th>Name</th>
                		<th>From Date</th>
                		<th>To Date</th>
                		<th>No of Days</th>
                		<th>Leave Type</th>
                		<th>Reason</th>
                		<th>Action</th>
                	  </tr>
					</thead>
					<tbody>
					  <tr each="leaveInfo,iterStat : ${leavesList}">
	                	<!-- <td text="${iterStat.count}"></td> -->
	                	<td text="${leaveInfo.employeeName}"></td>
	                	<td utext="${#dates.format(leaveInfo.fromDate,'dd MMM yyyy')}"></td>
	                	<td utext="${#dates.format(leaveInfo.toDate,'dd MMM yyyy')}"></td>
	                	<td text="${leaveInfo.duration}"></td>
	                	<td text="${leaveInfo.leaveType}"></td>
	                	<td text="${leaveInfo.reason}"></td>
	                	<td>
	                		<a href="user/manage-leaves/accept/{id}(id=${leaveInfo.id})" ><span class="label-success" style="color:  white;">ACCEPT</span></a>
	                		<a href="user/manage-leaves/reject/{id}(id=${leaveInfo.id})" ><span class="label-danger" style="color:  white;">REJECT</span></a>
	                	</td>
                	  </tr>
					</tbody>
				  </table>

			</div>
			<!-- //table -->
	</div>

<!--inner block start here-->
<div class="inner-block">

</div>
<!--inner block end here-->
<!--copy rights start here-->
	
<!--COPY rights end here-->
</div>
</div>
  <!--//content-inner-->
		<!--/sidebar-menu-->
		<nav>
			<div class="sidebar-menu">
				<header class="logo1">
					<a class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
				</header>
					<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
												 <div class="menu">
								<ul id="menu">
									<li><a routerLink="/hrm/home"><i class="fa fa-home"></i> <span>Home</span><div class="clearfix"></div></a></li>
									
									<li><a routerLink="/hrm/manageusers"><i class="fa fa-users"></i> <span>Manage Users</span><div class="clearfix"></div></a></li>
									
									<li><a routerLink="/hrm/manageleaves"><i class="fa fa-calendar-check-o"></i> <span>Manage Leaves</span><div class="clearfix"></div></a></li>
									
									<li><a routerLink="/hrm/applyleave"><i class="fa fa-calendar-plus-o"></i> <span>Apply Leave</span><div class="clearfix"></div></a></li>
									
									<li><a routerLink="/hrm/myleaves"><i class="fa fa-calendar-check-o"></i> <span>My Leaves</span><div class="clearfix"></div></a></li>
									
									<li><a routerLink="/hrm/changepassword"><i class="fa fa-key"></i> <span>Change Password</span><div class="clearfix"></div></a></li>
									 
									</ul>
						</div>
			</div>
		</nav>
				<div class="clearfix"></div>		
</div>


</body>
