<div *ngIf="!isLoggedIn">
  <!-- Logged in as {{roles}}.
</div> -->


<!-- <ng-template #loggedOut> -->
<div class="wrapper">
<div id="formContent">
  <h2 class="underlineHover"  routerLink="/forgot"  routerLinkActive="active"> Forgot Password </h2>

<div>
<br><br>
  <img src="assets/img/single_user.png" id="icon" alt="User Icon" />
</div>
<br><br>
<form #userForm="ngForm" (ngSubmit)="userForm.valid && onSubmit()">
  <input 
  type="email" 
  name="email" 
  #email="ngModel" 
  [(ngModel)]="resetpswdemail.email" 
  placeholder="Email" 
  [pattern]="emailRegex" 
  required
  [ngClass]="{'invalid-textbox' :userForm.submitted && !email.valid }">
<div *ngIf="userForm.submitted && email.errors?.pattern">
  <label class="validation-message">Invalid email address.</label>
</div>
  
<br><br>
  <br><br>
  <input type="submit" value="Reset Password">
</form>
<!-- Error message -->

</div> </div>
</div>
<!-- </ng-template> -->