<head>
	<!-- Bootstrap Core CSS -->
	<link href="assets/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="assets/css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="assets/css/morris.css" type="text/css"/>

	<link rel="shortcut icon" href="assets/img/favicon.png">
	
	<link rel="stylesheet" href="assets/css/jquery-ui.css" type="text/css">
	</head> 
<body>
<div class="page-container">
   <!--/content-inner-->
	<div class="left-content">
	   <div class="mother-grid-inner">
             <!--header start here-->
				<div class="header-main">
					<div class="" style="float:left;">
						
							<h2><a class="nav-link" routerLink="hrm/home" routerLinkActive="active">Leave Management System</a></h2>
						
						</div>
						<div class="profile_details w3l" style="float:right;">	
							<h4><a routerLink="/hrm/edituser"><i class="fa fa-user"></i> Profile   </a> </h4>
							<h4><a (click)="logout()"><i class="fa fa-sign-out"></i> Logout   </a> </h4>
				   </div>
							
				     <div class="clearfix"> </div>	
				</div>
<!--heder end here-->
		<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@{/user/home}">Home</a> <i class="fa fa-angle-right"></i> Change Password</li>
        </ol>
        
        <div class="grid-form1">
            <h3>Change Password</h3>
            <div class="tab-content tab-pane active" id="horizontal-form">
                
        <form class="form-horizontal" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>
						<div class="alert alert-danger" th:if="${(param.successMessage != null)}">
							<span th:text="${param.successMessage[0]}"></span>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Current Password :</label>
							<div class="col-sm-6">
								<input type="password" formControlName="currentPassword"  class="form-control1" required>
								<div *ngIf="changePasswordForm.get('currentPassword').invalid && changePasswordForm.get('currentPassword').touched">
									<small  class="text-danger">The current password is required</small>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">New Password :</label>
							<div class="col-sm-6">
								<input type="password" formControlName="newPassword" class="form-control1" pattern="pwRegex" required>
								<div *ngIf="changePasswordForm.get('newPassword').invalid && changePasswordForm.get('newPassword').touched">
									<small  class="text-danger">A new password should be entered</small>
								</div>
								<div>
									<small>The password should be between 8 to 15 characters</small>
								</div>
								<div *ngIf="changePasswordForm.get('newPassword').errors?.pattern && changePasswordForm.get('newPassword').touched">
									<small class="text-danger">Password is invalid</small>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Re-Enter New Password :</label>
							<div class="col-sm-6">
								<input type="password" formControlName="reEnterPassword" class="form-control1" [class.is-invalid]="changePasswordForm.errors?.mismatch" required>
									<div *ngIf="changePasswordForm.get('reEnterPassword').invalid && changePasswordForm.get('reEnterPassword').touched">
										<small  class="text-danger">Confirm your new password here</small>
									</div>
									<div *ngIf="changePasswordForm.errors?.mismatch">
										<small class="text-danger">Passwords do not match</small>
									</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8 col-sm-offset-4">
								<button type="button" class="btn-primary btn" onclick="validateChangePassword()">Change Password</button>
								<a href="@{/user/home}"><button type="button" class="btn-default btn">Cancel</button></a>
							</div>
						</div>
         </form>              
                
            </div>
         </div>

<script type="text/javascript">

function validateChangePassword(){
	var currentPassword = document.getElementById('currentPassword').value;
	var newPassword = document.getElementById('newPassword').value;
	var reEnterPassword = document.getElementById('reEnterPassword').value;
	var regExp = /[a-zA-Z0-9]/;
	
	/* if((currentPassword == null || currentPassword == '') || (newPassword == null || newPassword == '')){
		bootbox.alert("Empty password fields are not allowed!!!");
		return false;
	} else if(!regExp.test(currentPassword) || !regExp.test(newPassword)){
		bootbox.alert("Please enter a valid Password!!! Special characters and spaces are not allowed!!!");
		return false;
	}
	
	if(newPassword != reEnterPassword){
		bootbox.alert("New Password and Re-enter password don't match!!!");
		return false;
	} */
	
	document.forms[0].action='/leave-management-system/user/change-password';
	document.forms[0].method="POST";
	document.forms[0].submit();
}
</script>


<!--inner block start here-->
<div class="inner-block">

</div>
<!--inner block end here-->
</div>
</div>
  <!--//content-inner-->
			<!--/sidebar-menu-->
			<nav>
				<div class="sidebar-menu">
					<header class="logo1">
						<a class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
					</header>
						<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                           <div class="menu">
									<ul id="menu">
										<li><a routerLink="/hrm/home"><i class="fa fa-home"></i> <span>Home</span><div class="clearfix"></div></a></li>
										
										<li><a routerLink="/hrm/manageusers"><i class="fa fa-users"></i> <span>Manage Users</span><div class="clearfix"></div></a></li>
										
										<li><a routerLink="/hrm/manageleaves"><i class="fa fa-calendar-check-o"></i> <span>Manage Leaves</span><div class="clearfix"></div></a></li>
										
										<li><a routerLink="/hrm/applyleave"><i class="fa fa-calendar-plus-o"></i> <span>Apply Leave</span><div class="clearfix"></div></a></li>
										
										<li><a routerLink="/hrm/myleaves"><i class="fa fa-calendar-check-o"></i> <span>My Leaves</span><div class="clearfix"></div></a></li>
										
										<li><a routerLink="/hrm/changepassword"><i class="fa fa-key"></i> <span>Change Password</span><div class="clearfix"></div></a></li>
										 
								  	</ul>
							</div>
				</div>
			</nav>
				<div class="clearfix"></div>		
</div>



</body>
