<!-- this is master branch -->
<head>
	<!-- Bootstrap Core CSS -->
	<link href="assets/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="assets/css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="assets/css/morris.css" type="text/css"/>
	<link rel="shortcut icon" href="assets/img/favicon.png">
	
	<link rel="stylesheet" href="assets/css/jquery-ui.css" type="text/css">
	</head> 
<body>
   <div class="page-container">
   <!--/content-inner-->
<div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
			<div class="header-main">
					<div class="" style="float:left;">
								<h2><a href="user/home" >Leave Management System</a></h2>
					</div>
					<div class="profile_details w3l" style="float:right;">	
						<h4><a routerLink="/hrm/edituser"><i class="fa fa-user"></i> Profile   </a> </h4>
						<h4><a (click)="logout()"><i class="fa fa-sign-out"></i> Logout   </a> </h4>
			 </div>
							
				     <div class="clearfix"> </div>	
				</div>
<!--heder end here-->
	<ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="hrm/home">Home</a> <i class="fa fa-angle-right"></i> Manage Users</li>
    </ol>
		<div class="grid-form1">	

					<h3>Manage Users</h3>
					<div class="tab-content tab-pane active" id="horizontal-form">
					
					<form [formGroup]="ManageUsersForm" (ngSubmit)="onSubmit()" class="form-horizontal" novalidate>

					<div class="form-group">
						<label class="col-sm-4 control-label">Name  :</label>
						<div class="col-sm-6">
							<input type="text" formControlName="name" placeholder="Name" class="form-control1" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">Email  :</label>
						<div class="col-sm-6">
							<input type="email" formControlName="email" placeholder="Email" class="form-control1"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">Mobile No  :</label>
						<div class="col-sm-6">
							<input type="text" formControlName="mobilenumber" placeholder="Mobile No:" class="form-control1"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">Password  :</label>
						<div class="col-sm-6">
							<input type="password" formControlName="password" placeholder="Password" class="form-control1"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">Gender  :</label>
						<div class="col-sm-6">
							<input type="text" formControlName="gender" placeholder="Gender" class="form-control1"/>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-8 col-sm-offset-4">
							<button type="submit" class="btn btn-primary">Add User</button>
							<a routerLink="hrm/home"><button type="button" class="btn btn-default">Cancel</button></a>
						</div>
					</div>

					</form>
			</div>
			<!-- //table -->
	</div>

<!--inner block start here-->
<div class="inner-block">

</div>
<!--inner block end here-->
<!--copy rights start here-->

<!--COPY rights end here-->
</div>
</div>
  <!--//content-inner-->
		<!--/sidebar-menu-->
		<nav>
			<div class="sidebar-menu">
				<header class="logo1">
					<a class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
				</header>
					<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
												 <div class="menu">
								<ul id="menu">
									<li><a routerLink="/hrm/home"><i class="fa fa-home"></i> <span>Home</span><div class="clearfix"></div></a></li>
									
									<li><a routerLink="/hrm/manageusers"><i class="fa fa-users"></i> <span>Manage Users</span><div class="clearfix"></div></a></li>
									
									<li><a routerLink="/hrm/manageleaves"><i class="fa fa-calendar-check-o"></i> <span>Manage Leaves</span><div class="clearfix"></div></a></li>
									
									<li><a routerLink="/hrm/applyleave"><i class="fa fa-calendar-plus-o"></i> <span>Apply Leave</span><div class="clearfix"></div></a></li>
									
									<li><a routerLink="/hrm/myleaves"><i class="fa fa-calendar-check-o"></i> <span>My Leaves</span><div class="clearfix"></div></a></li>
									
									<li><a routerLink="/hrm/changepassword"><i class="fa fa-key"></i> <span>Change Password</span><div class="clearfix"></div></a></li>
									 
									</ul>
						</div>
			</div>
		</nav>
				<div class="clearfix"></div>		
</div>

</body>
